/* General Styles */

h1 {
    font-family: "Yuji Syuku", serif;
    font-size: 4.17vw; 
    text-align: center;
}

h2 {
    font-family: "Yuji Syuku", serif;
    font-size: 2.08vw;
    text-align: center;
}

h3 {
    font-family: "Yuji Syuku", serif;
    text-align: center;
}

p {
    font-size: 1.30vw;
    font-family: "Cactus Classical Serif", serif;
    line-height: 2;
}

hr {
    width: 80%;
}

.cactus-classical-serif-regular {
    font-family: "Cactus Classical Serif", serif;
    font-weight: 200px;
    font-style: normal;
  }

.yuji-syuku-regular {
    font-family: "Yuji Syuku", serif;
    font-weight: 400px;
    font-style: normal;
}


/* Style Nav Bar */

.top-nav-bar{
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

.top-nav-bar > button{
    border: 0;
    background-color: transparent;
}

.top-nav-bar > button:hover{
    border: 0;
    background-color: #c6b9ab;;
}

/* Title Section */

.title-section{
    padding: 5px;
    height: 10%;
}

/* About Section */
.icon {
    margin: 1%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    width: 25%;
    height: 25%;
    border-radius: 50%;
}

/* Middle Section */

.middle-section{
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    width: 80%;
    margin: 10%;
    margin-top: 1%;
}

.container {
    text-align: left;
    width: 50%;
}

#left {
    width: 40%;
    padding-top: 12%;
}

.container > h2{
    text-align: left;
    font-size: 2.60vw;
}
.container > h3{
    font-size: 2.08vw;
    text-align: left;
}

.embed{
    width: 80%;
    object-fit: scale-down;
}

/* Bottom Section */

.footer{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background-color: #9CC2A4;
    padding: 10%;
    margin: 0px;
    width: 100%;
    height: 10%;
}

.footer > button{
    margin: 1%;
    border: 0;
    background-color: transparent;
}

.footer > button:hover{
    background-color: #7b9881;

}




